#title{
    background-color: #0E8388;
}
.item{
    height:550px;
}
#features{
    height:400px;
    background-color: #CBE4DE;
    padding: 80px;
    
}
.market{
    padding:20px;
}
.graph{
    height:150px;
    width: 150px;
    position:absolute;
    left:300px; 
}
.graph-2{
    height:150px;
    width: 150px;
    position:absolute;
    left:650px;
}
#contact{
    padding: 80px;
    background-color: #0E8388;
}
.container{
    max-width: 540px;
}

h2{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}
h3{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
section#contact form#contactForm .form-group {
    margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group-textarea {
    height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 10rem;
}
form#contactForm .form-group textarea {
    padding: 1.25rem;
}
.btn.disabled, fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color:#0E8388;
    border-color: #0E8388;
    opacity: var(--bs-btn-disabled-opacity);
}
.button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}
.btn-xl {
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}
.sendmsg:hover{
    cursor: pointer;
    background-color: aqua;
    color:black;
}
.d-flex{
    background-color: #CBE4DE;
}
.footer{
    background-color: #CBE4DE;
}
.copyright{
    background-color: #CBE4DE;
}
